<footer>
    <div class="menuf container flex">
        <div class="item">
            <h4>Giới Thiệu</h4>
            <ul>
                <li><a href="" title="">Về chúng tôi</a></li>
                <li><a href="" title="">Đối tác</a></li>
                <li><a href="" title="">Tuyển dụng</a></li>
                <li><a href="" title="">Tin tức công ty</a></li>
            </ul>
        </div>
        <div class="item">
            <h4>CHƯƠNG TRÌNH</h4>
            <ul>
                <li><a href="" title="">Khách hàng tổ chức</a></li>
                <li><a href="" title="">Đối tác vận chuyển</a></li>
                <li><a href="" title="">Beemedia.com.vn</a></li>
                <li><a href="" title="">Trung tâm dịch vụ ATOM</a></li>
            </ul>
        </div>
        <div class="item">
            <h4>Chính sách</h4>
            <ul>
                <li><a href="" title="">Vận chuyển hành khách</a></li>
                <li><a href="" title="">Bảo vệ quyền riêng tư</a></li>
                <li><a href="" title="">Sử dung dịch vụ</a></li>
                <li><a href="" title="">Giải quyết sự cố và khiếu nại</a></li>
            </ul>
        </div>
        <div class="item">
            <h4>Hỗ trợ</h4>
            <ul>
                <li><a href="" title="">Hướng dẫn đặt xe</a></li>
                <li><a href="" title="">Câu hỏi thường ngày</a></li>
                <li><a href="" title="">mommababy.vn</a></li>
                <li><a href="" title="">thienco.vn</a></li>
            </ul>
        </div>
        <div class="item">
            <h4>Contact</h4>
            <div class="social flex-lc">
                <a href="" class="facebook">facebook</a>
                <a href="" class="twitter">twitter</a>
                <a href="" class="youtube">Youtube</a>
                <a href="" class="instagram">instagram</a>
            </div>
            <div class="download">
                <h5>Download on</h5>
                <div class="download__link flex">
                    <a href="" class="ios">Download ios</a>
                    <a href="" class="android">Download android</a>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="container">
            <h4>CÔNG TY CỔ PHẦN TƯ VẤN VÀ TRIỂN KHAI CÔNG NGHỆ THIÊN ÂN</h4>
            <div class="row">
                <div class="col-left">
                    <div class="address flex-hc">
                        <i class="icon icon-address"></i>
                        <span>Tầng 8, Tòa nhà số 11, ngõ 02 cổng trường ĐH Hà Nội (cạnh Passion Café), Km 9, Nguyễn Trãi, Nam Từ Liêm, Hà Nội</span>
                    </div>
                    <div class="link flex-hc"><i class="icon icon-link"></i><a href="" title="">gocheap.vn</a></div>
                </div>
                <div class="col-right">
                    <div class="phone flex-hc">
                        <i class="icon icon-phone"></i>
                        <a href="tel:024.73000600" title="">024.73000600</a>
                    </div>
                    <div class="email flex-hc">
                        <i class="icon icon-mail"></i>
                        <a href="mailto:hotro@gocheap.vn">hotro@gocheap.vn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>