<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <div class="navbar-collapse" id="navbar">
            <a href="javascript:;" class="close">X</a>
            <div class="notifi"><span>0</span></div>
            <div class="user_login">
                <img src="./assets/img/avatar.png" alt="">
                <span>John Doe</span>
            </div>
            <ul class="navbar-nav flex">
                <li><a href="http://localhost:8000/home.html" title="Trang chủ">Trang chủ</a></li>
                <li><a href="" title="Đối tác">Đối tác</a></li>
                <li><a href="" title="Tài xế">Tài xế</a></li>
                <li><a href="" title="Tin tức">Tin tức</a></li>
                <li><a href="" title="Liên hệ">Liên hệ</a></li>
            </ul>
            <div class="logo-collapse">
                <img src="./assets/img/logo.png" alt="">
            </div>
        </div>
        <form action="" method="" class="form-search">
            <button type="button"><i class="icon icon-search"></i></button>
            <input type="text" placeholder="Tìm kiếm...">
        </form>
        <div class="dropdown language">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><img src="./assets/img/vn.png" alt=""></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><img src="./assets/img/vn.png" alt=""></a>
                <a class="dropdown-item" href="#"><img src="./assets/img/eng.png" alt=""></a>
            </div>
        </div>
        <div class="user">
            <div class="before_login" style="display: none">
                <a href="" title="">Đăng nhập</a>
            </div>
            <div class="after_login flex">
                <div class="notifi"><span></span></div>
                <div class="dropdown user__info">
                    <button class="btn dropdown-toggle flex" type="button" data-toggle="dropdown">
                        <img src="./assets/img/avatar.png" class="avatar" alt="">
                        <span>John Doe</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Tài khoản</a>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>