<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-2.2.4.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page-all.js"></script>
<script>
    $(document).ready(function () {
       $('.btn_viewmap').on('click',function () {
           $('.map').addClass('show');
       });
       $('#check_book_other').on('change',function () {
           if (document.getElementById('check_book_other').checked) {
               $('.bookother').css('display','block');
           }
           else {
               $('.bookother').css('display','none');
           }
       });
        $('#check_bill').on('change',function () {
            if (document.getElementById('check_bill').checked) {
                $('.billexport').css('display','block');
            }
            else {
                $('.billexport').css('display','none');
            }
        });
    });
</script>
</body>
</html>