<main>
    <div class="contact container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2 class="title">Liên hệ với chúng tôi</h2>
                <form action="" method="">
                    <div class="form-group">
                        <label>Họ và tên</label>
                        <input type="text" name="fullname" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại của bạn <sup>*</sup></label>
                        <input type="number" name="phone" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label>Yêu cầu <sup>*</sup></label>
                        <textarea required></textarea>
                    </div>
                    <button type="submit" class="btn_submit">Gửi</button>
                </form>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2 class="title">Địa chỉ và chỉ đường</h2>
                <div class="contact_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.571020538118!2d105.80879451429742!3d21.009826193801693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac9e0b8719df%3A0x2cb515cceed7e663!2zODUgTmd1eeG7hW4gTmfhu41jIFbFqSwgVHJ1bmcgSG_DoCwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sfr!2s!4v1591441446270!5m2!1sfr!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</main>