<main>
    <ul class="progress_bar flex">
        <li class="active">
            <span class="number">1</span>
            <h5>Đặt xe taxi</h5>
        </li>
        <li class="active">
            <span class="number">2</span>
            <h5>Điền Thông Tin Cá Nhân</h5>
        </li>
        <li class="active">
            <span class="number">3</span>
            <h5>Thanh toán</h5>
        </li>
        <li class="active">
            <span class="number">4</span>
            <h5>Hoàn tất</h5>
        </li>
    </ul>
    <div class="bookinfo pr">
        <div class="bookinfo__wrapper book_finish">
            <div class="bookinfo__detail flex pr">
                <div class="notifi flex"><i class="icon icon-success"></i> Đặt chuyến thành công!</div>
                <h2 class="title">Thông tin ĐẶT chuyến </h2>
                <div class="vehicle">
                    <div class="vehicle__img"><img src="./assets/img/car1.png" alt=""></div>
                    <span class="vehicle__price flex-center">Phí: 300k</span>
                    <span class="vehicle__num">4 chỗ</span>
                </div>
                <div class="info">
                    <h4>Mã chuyến đi: AAVBBB</h4>
                    <div class="route flex">
                        <div class="pickup flex">
                            <i class="icon icon-pickup"></i>
                            <p>Ngõ Thịnh Hào 1, Hàng Bột, Hoàn Kiếm, Hà Nội</p>
                            <time><i class="icon icon-time"></i> 26/09, 2h30' </time>
                        </div>
                        <div class="route_info pr">
                            <span>1 chiều</span>
                            <span>100km</span>
                        </div>
                        <div class="destination flex-lc">
                            <i class="icon icon-destination"></i>
                            <p>Sân bay quốc tế Nội Bài</p>
                            <time><i class="icon icon-time"></i> 26/09, 2h30' </time>
                        </div>
                    </div>
                    <div class="info_user flex pr">
                        <div class="flex-lc"><i class="icon icon-user"></i> <span>Anh Nguyễn Tuấn Minh</span></div>
                        <div class="flex-lc"><i class="icon icon-phone"></i> <span>0386171800</span></div>
                        <div class="flex-lc"><i class="icon icon-mail"></i> <span>ntminh0706@eupgroup.net</span></div>
                    </div>
                    <a href="" title="View Map" class="btn_viewmap">View Map</a>
                </div>
                <label class="checkbox flex-lc pr">
                    <input type="checkbox" checked readonly>
                    <span class="checked"></span>
                    <span class="txt">Thanh toán tiền mặt cho lái xe sau khi kết thúc chuyến đi</span>
                </label>
                <label class="checkbox flex-lc pr">
                    <input type="checkbox" checked readonly>
                    <span class="checked"></span>
                    <span class="txt">Yêu cầu hóa đơn</span>
                </label>
            </div>
        </div>
    </div>
    <div class="moreinfo">
        <h2 class="title">thông tin thêm</h2>
        <div class="moreinfo_content">
            <p class="txtmore">
                Qúy khách sẽ nhận thông tin tài xế sau khi điều hành viên GoCheap điều phối xe, thông thường trước giờ đón khách hàng 120 phút, Qúy khách sẽ nhận thông tin tài xế sau khi điều hành viên GoCheap điều phối xe, thông thường trước giờ đón khách hàng
                120 phút.....Qúy khách sẽ nhận thông tin tài xế sau khi điều hành viên GoCheap điều phối xe, thông thường trước giờ đón khách
            </p>
        </div>
        <div class="box-btn flex">
            <a href="javascript:;" title="Hủy chuyến" class="flex-center" data-toggle="modal" data-target="#gocheap-cancel">Hủy chuyến</a>
            <a href="" title="Về trang chủ" class="flex-center">Về trang chủ</a>
        </div>
    </div>
    <div class="modal fade modal-cancel" id="gocheap-cancel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                <h5>Oop!</h5>
                <p>Bạn muốn hủy chuyến đi vừa đặt?</p>
                <div class="box-btn flex">
                    <a href="" title="Hủy chuyến" class="flex-center">Hủy chuyến</a>
                    <a href="javascript:;" title="Xóa" class="flex-center" data-dismiss="modal">Xóa</a>
                </div>
            </div>
        </div>
    </div>
</main>