<main>
    <section class="bookcar">
        <h1 class="title">DỊCH VỤ ĐẶT XE HỢP ĐỒNG GIÁ RẺ</h1>
        <div class="bookcar_detail">
            <ul class="nav nav-service">
                <li class="active"><a data-toggle="tab" href="#s1"><i class="icon icon-s1"></i><span>Taxi san bay</span></a></li>
                <li><a data-toggle="tab" href="#s2"><i class="icon icon-s2"></i><span>Đường dài</span></a></li>
                <li><a data-toggle="tab" href="#s3"><i class="icon icon-s3"></i><span>Tiện chuyến</span></a></li>
                <li><a data-toggle="tab" href="#s4"><i class="icon icon-s4"></i><span>Tuyến cố định</span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="s1">
                    <form action="" method="">
                        <div class="form-group">
                            <div class="icon icon-location"></div>
                            <div class="icon icon-add"></div>
                            <div class="searchbox">
                                <input type="text" name="" placeholder="Điểm đón" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="icon icon-plane"></div>
                            <div class="icon icon-arr"></div>
                            <div class="searchbox">
                                <input type="text" name="" placeholder="San bay muon toi " required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <select name="">
                                    <option value="">1 chiều</option>
                                    <option value="">2 chiều</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="icon icon-arr"></div>
                                <input type='text' name="" placeholder="Thời gian đón" class="date datetimepicker4" />
                            </div>
                        </div>
                        <button type="button" class="change"></button>
                        <button type="button" class="btn_submit flex-center">Xem giá</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="s2">
                    <form action="" method="">
                        <div class="form-group">
                            <div class="icon icon-location"></div>
                            <div class="icon icon-add"></div>
                            <div class="searchbox">
                                <input type="text" name="" placeholder="Điểm đón" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="icon icon-destination"></div>
                            <div class="icon icon-arr"></div>
                            <div class="searchbox">
                                <input type="text" name="" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <select name="">
                                    <option value="">1 chiều</option>
                                    <option value="">2 chiều</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="icon icon-arr"></div>
                                <input type='text' name="" placeholder="Thời gian đón" class="date datetimepicker4" />
                            </div>
                        </div>
                        <button type="button" class="change"></button>
                        <button type="button" class="btn_submit flex-center">Xem giá</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="s3">3</div>
                <div class="tab-pane fade" id="s4">4</div>
            </div>
        </div>
    </section>
    <section class="container choose">
        <h2 class="title">Tại sao bạn nên chọn GoCheap.vn ?</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="choose-content">
                    <div class="icon"><i class="icon-f1"></i></div>
                    <h4>Tận hưởng chuyến đi an toàn và tiết kiệm</h4>
                    <p>Giá cước trọn gói, rẻ nhất trên thị trường.
                        Chỉ cần chọn đi, điểm đến và chọn ngày
                        đi mong muốn. Chúng tôi sẽ lọc và gợi ý
                        cho bạn những chuyến đi phù hợp.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="choose-content">
                    <div class="icon"><i class="icon-f2"></i></div>
                    <h4>Chất lượng dịch vụ đẳng cấp, sang trọng</h4>
                    <p>Hoàn 100% chi phí nếu kháchkhông hài lòng.
                        Xe riêng đón trả khách tại nhà, không giới hạn
                        điểm đón/trả. Dàn xe mới, chất lượng tốt, tiện nghi
                        (nhiều loại xe từ 4 - 45 chỗ)</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="choose-content">
                    <div class="icon"><i class="icon-f3"></i></div>
                    <h4>Tiêu chuẩn phục vụ chuẩn kim cương</h4>
                    <p>Chuyến đi an toàn, phải bắt đầu từ người
                        lái xe đáng tin cậy. Các Đối tác Tài Xế luôn
                        được trang bị sẵn sàng để xử lý với bất
                        kỳ vấn đề nào phát sinh trên đường đi.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container promotion">
        <h2 class="title">Khuyến mãi mới nhất</h2>
        <div class="promotion__list">
            <div class="item">
                <a href="" type=""><img src="./assets/img/banner1.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="" type=""><img src="./assets/img/banner1.jpg" alt=""></a>
            </div>
        </div>
    </section>
    <section class="container tour pr">
        <h2 class="title">Tuyến cố định</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <article class="tour_post">
                    <a href="" class="tour_thumb">
                        <img src="./assets/img/thumb2.png" alt="">
                        <span>Hà Nội - Hải Phòng</span>
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="tour_post">
                    <a href="" class="tour_thumb">
                        <img src="./assets/img/thumb3.png" alt="">
                        <span>Hà Nội - Vĩnh Phúc</span>
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="tour_post">
                    <a href="" class="tour_thumb">
                        <img src="./assets/img/thumb1.png" alt="">
                        <span>Hà Nội - Trang An</span>
                    </a>
                </article>
            </div>
        </div>
        <a href="" class="btn_viewmore">Xem thêm</a>
    </section>
    <section class="intro pr">
        <div class="container flex">
            <div class="intro_img">
                <img src="./assets/img/img-intro.png" alt="">
            </div>
            <div class="intro_content">
                <h4>Giới thiệu về go cheap</h4>
                <article>
                    <p>Gocheap.VN là một công ty khởi nghiệp của các kỹ sư công nghệ thông tin tại Hà Nội. Với mục đích đưa dịch vụ vận tài hành khách chất lượng cao với chi phí rẻ nhất đến với tất cả quý khách hàng cùng sự hỗ trợ đặc biệt của công nghệ thông tin và hệ thống AI tự phát triển.</p>
                    <p>Có mặt trên thị trường từ năm 2014, Gocheap hiện đã có mạng lưới đối tác cũng như khách hàng tương đối ổn định. Chất lượng dịch vụ được đánh giá cao giúp chúng tôi từng bước vững vàng tạo dựng thương hiệu trong những SME khởi nghiệp tại Hà Nội.</p>
                    <p>Với tham vọng vươn xa, Gocheap luôn hoàn thiện bản thân và chào đón các nhà đầu tư tham gia góp vốn nhằm đưa công ty thành một doanh nghiệp công nghệ vận chuyển lớn tại Việt Nam cũng như khu vực.</p>
                </article>
            </div>
        </div>
    </section>
    <section class="container news">
        <h2 class="title">TIN TỨC</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <article class="post">
                    <a href="" class="news_thumb"><img src="./assets/img/thumb4.png" alt=""></a>
                    <div class="flex md">
                        <div class="logo flex">
                            <img src="./assets/img/logor.png" alt="">
                            <p><span>GoCheap</span><span>@gocheapvn</span></p>
                        </div>
                        <time>8h25',  24/10</time>
                    </div>
                    <p>Những phương án làm ''lộ mặt'' xe kinh doanh vận tải ''trá hình''
                        https://www.vietnamplus.vn/nhung-phuong-an-lam-lo-mat-xe-kinh-doanh-van-tai....</p>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="post">
                    <a href="" class="news_thumb"><img src="./assets/img/thumb4.png" alt=""></a>
                    <div class="flex md">
                        <div class="logo flex">
                            <img src="./assets/img/logor.png" alt="">
                            <p><span>GoCheap</span><span>@gocheapvn</span></p>
                        </div>
                        <time>8h25',  24/10</time>
                    </div>
                    <p>Những phương án làm ''lộ mặt'' xe kinh doanh vận tải ''trá hình''
                        https://www.vietnamplus.vn/nhung-phuong-an-lam-lo-mat-xe-kinh-doanh-van-tai....</p>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="post">
                    <a href="" class="news_thumb"><img src="./assets/img/thumb4.png" alt=""></a>
                    <div class="flex md">
                        <div class="logo flex">
                            <img src="./assets/img/logor.png" alt="">
                            <p><span>GoCheap</span><span>@gocheapvn</span></p>
                        </div>
                        <time>8h25',  24/10</time>
                    </div>
                    <p>Những phương án làm ''lộ mặt'' xe kinh doanh vận tải ''trá hình''
                        https://www.vietnamplus.vn/nhung-phuong-an-lam-lo-mat-xe-kinh-doanh-van-tai....</p>
                </article>
            </div>
        </div>
    </section>
    <section class="container destination">
        <div class="destination_list">
            <div class="item">
                <div class="post flex">
                    <a href="" class="destination_thumb"><img src="./assets/img/thumb3.png" alt=""></a>
                    <div class="detail">
                        <h3><a href="" title="">Danh sách 10 resort gần Hà Nội “đẹp như mơ” hớp hồn du khách</a></h3>
                        <time><i class="icon icon-time"></i> 8h25',  24/10</time>
                        <span class="view"><i class="icon icon-view"></i> 123</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post flex">
                    <a href="" class="destination_thumb"><img src="./assets/img/thumb3.png" alt=""></a>
                    <div class="detail">
                        <h3><a href="" title="">Danh sách 10 resort gần Hà Nội “đẹp như mơ” hớp hồn du khách</a></h3>
                        <time><i class="icon icon-time"></i> 8h25',  24/10</time>
                        <span class="view"><i class="icon icon-view"></i> 123</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post flex">
                    <a href="" class="destination_thumb"><img src="./assets/img/thumb3.png" alt=""></a>
                    <div class="detail">
                        <h3><a href="" title="">Danh sách 10 resort gần Hà Nội “đẹp như mơ” hớp hồn du khách</a></h3>
                        <time><i class="icon icon-time"></i> 8h25',  24/10</time>
                        <span class="view"><i class="icon icon-view"></i> 123</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container facebook-plugin">
        <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5" data-width="1000"></div>
    </section>
    <a href="" class="support flex-center"><i class="icon icon-headphone"></i></a>
</main>