<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="newshighlight">
                    <h2 class="title">Bài viết nổi bật</h2>
                    <div class="newshighlight_list">
                        <div class="post">
                            <div class="post_detail">
                                <a href="" class="post__thumb"><img src="./assets/img/thumb8.png" alt=""></a>
                                <h3 class="post__title"><a href="">Quy định thuê tài xế GoCheap</a></h3>
                                <p class="post__des">Cho thuê tài xế lái xe ngắn hạn theo giờ, ngày, tuần và dài hạn theo tháng, quý, năm: Từ 300 ngàn</p>
                                <a href="" title="Đọc thêm" class="readmore">Đọc thêm ></a>
                                <div class="post__bt flex">
                                    <time>8h25',  24/10</time>
                                    <span class="view">124</span>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post_detail">
                                <a href="" class="post__thumb"><img src="./assets/img/thumb4.png" alt=""></a>
                                <h3 class="post__title"><a href="">Quy định thuê tài xế GoCheap</a></h3>
                                <p class="post__des">Cho thuê tài xế lái xe ngắn hạn theo giờ, ngày, tuần và dài hạn theo tháng, quý, năm: Từ 300 ngàn</p>
                                <a href="" title="Đọc thêm" class="readmore">Đọc thêm ></a>
                                <div class="post__bt flex">
                                    <time>8h25',  24/10</time>
                                    <span class="view">124</span>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post_detail">
                                <a href="" class="post__thumb"><img src="./assets/img/thumb8.png" alt=""></a>
                                <h3 class="post__title"><a href="">Quy định thuê tài xế GoCheap</a></h3>
                                <p class="post__des">Cho thuê tài xế lái xe ngắn hạn theo giờ, ngày, tuần và dài hạn theo tháng, quý, năm: Từ 300 ngàn</p>
                                <a href="" title="Đọc thêm" class="readmore">Đọc thêm ></a>
                                <div class="post__bt flex">
                                    <time>8h25',  24/10</time>
                                    <span class="view">124</span>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post_detail">
                                <a href="" class="post__thumb"><img src="./assets/img/thumb6.png" alt=""></a>
                                <h3 class="post__title"><a href="">Quy định thuê tài xế GoCheap</a></h3>
                                <p class="post__des">Cho thuê tài xế lái xe ngắn hạn theo giờ, ngày, tuần và dài hạn theo tháng, quý, năm: Từ 300 ngàn</p>
                                <a href="" title="Đọc thêm" class="readmore">Đọc thêm ></a>
                                <div class="post__bt flex">
                                    <time>8h25',  24/10</time>
                                    <span class="view">124</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="newsother">
                    <h2 class="title">Bài viết khác</h2>
                    <article class="post flex">
                        <a href="" class="post__thumb"><img src="./assets/img/thumb6.png" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Danh sách 10 resort gần Hà Nội “đẹp như mơ” hớp hồn du khách</a></h3>
                            <div class="flex">
                                <time>8h25',  24/10</time>
                                <span class="view">123</span>
                            </div>
                            <p>Cho thuê tài xế lái xe ngắn hạn theo giờ, ngày, tuần và dài hạn theo tháng, quý, năm: Từ 300 ngàn đồng/2-giờ, 10 triệu đồng/tháng...</p>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="post__thumb"><img src="./assets/img/thumb6.png" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Danh sách 10 resort gần Hà Nội “đẹp như mơ” hớp hồn du khách</a></h3>
                            <div class="flex">
                                <time>8h25',  24/10</time>
                                <span class="view">123</span>
                            </div>
                            <p>Cho thuê tài xế lái xe ngắn hạn theo giờ, ngày, tuần và dài hạn theo tháng, quý, năm: Từ 300 ngàn đồng/2-giờ, 10 triệu đồng/tháng...</p>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="post__thumb"><img src="./assets/img/thumb6.png" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Danh sách 10 resort gần Hà Nội “đẹp như mơ” hớp hồn du khách</a></h3>
                            <div class="flex">
                                <time>8h25',  24/10</time>
                                <span class="view">123</span>
                            </div>
                            <p>Cho thuê tài xế lái xe ngắn hạn theo giờ, ngày, tuần và dài hạn theo tháng, quý, năm: Từ 300 ngàn đồng/2-giờ, 10 triệu đồng/tháng...</p>
                        </div>
                    </article>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true"> < </span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"> > </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="slidebar">
                    <div class="slidebar_post">
                        <img src="./assets/img/thumb7.png" alt="">
                        <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>