<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="pagedetail">
                    <a href="" title="" class="btn_back flex-lc">Back</a>
                    <div class="postdetail">
                        <img src="./assets/img/thumb.png" alt="">
                        <h2 class="post_title">Quy định thuê tài xế GoCheap</h2>
                        <article>
                            <p>Cho thuê tài xế lái xe ngắn hạn theo giờ, ngày, tuần và dài hạn theo tháng, quý, năm: Từ 300 ngàn đồng/4-giờ, 9 triệu đồng/tháng. Tài xế nhiều năm kinh nghiệm, rành đường thành phố, kinh nghiệm đi tỉnh, trách nhiệm, cẩn thận, nhiệt tình, vui vẻ.</p>
                            <p>Dịch vụ thuê tài xế GOCHEAP là dịch vụ thuê lái xe chuyên nghiệp của Công ty có thương hiệu và đẳng cấp. Khách hàng (a) hoặc tự lái (b) hoặc hoàn toàn yên tâm và tin tưởng GOCHEAP.vn khi thue tai xe GOCHEAP lai xe của quý khách.</p>
                            <p>Tuyển cộng tác viên lái xe chuyên nghiệp. Chế độ tiền công lái xe hưởng theo số giờ lái x ?0.000 đồng/giờ.</p>
                            <p>THÔNG BÁO: Giá thuê lái xe từ ngày 20-25/12 âm lịch (AL) tính theo giá thuê lái xe ngày chủ nhật, từ ngày 26/12-7/1 AL tính theo giá thuê lái xe ngày nghỉ lễ, từ ngày 8-10/1 AL tính theo giá thuê lái xe ngày nghỉ chủ nhật; Quý Khách vui lòng đọc kỹ thông tin Quy định về thue tai xe lai xe. Khi Quý Khách thuê tài xế thì đương nhiên Quý Khách đã đồng ý với các quy định về thuê tài xế. GOCHEAP được miễn mọi trách nhiệm do Quý Khách không thực hiện hoặc thực hiện trái Quy định về thuê lái xe.</p>

                            <p>Bảng giá thuê tài xế, lái xe</p>
                            Tài xế <br>
                            Thuê xe <br>
                            Học lái xe <br>
                            Mức xử phạt <br>
                            Lái xe an toàn <br>
                            Nghề lái xe <br>

                        </article>
                        <div class="share flex">
                            <span>Share: </span>
                            <a href=""><i class="fab fa-pinterest-p"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-google-plus-g"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                    <div class="nav nav-post flex">
                        <a href="" title="" class="prev_post flex-center">Previous</a>
                        <a href="" title="" class="next_post flex-center">Next Post</a>
                    </div>
                </div>
                <div class="related_post">
                    <h2 class="title">Gợi ý bài viết cùng chủ đề</h2>
                    <article class="post flex">
                        <a href="" class="post__thumb"><img src="./assets/img/thumb6.png" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Danh sách 10 resort gần Hà Nội “đẹp như mơ” hớp hồn du khách</a></h3>
                            <div class="flex">
                                <time>8h25',  24/10</time>
                                <span class="view">123</span>
                            </div>
                            <p>Cho thuê tài xế lái xe ngắn hạn theo giờ, ngày, tuần và dài hạn theo tháng, quý, năm: Từ 300 ngàn đồng/2-giờ, 10 triệu đồng/tháng...</p>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="post__thumb"><img src="./assets/img/thumb6.png" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Danh sách 10 resort gần Hà Nội “đẹp như mơ” hớp hồn du khách</a></h3>
                            <div class="flex">
                                <time>8h25',  24/10</time>
                                <span class="view">123</span>
                            </div>
                            <p>Cho thuê tài xế lái xe ngắn hạn theo giờ, ngày, tuần và dài hạn theo tháng, quý, năm: Từ 300 ngàn đồng/2-giờ, 10 triệu đồng/tháng...</p>
                        </div>
                    </article>
                    <article class="post flex">
                        <a href="" class="post__thumb"><img src="./assets/img/thumb6.png" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Danh sách 10 resort gần Hà Nội “đẹp như mơ” hớp hồn du khách</a></h3>
                            <div class="flex">
                                <time>8h25',  24/10</time>
                                <span class="view">123</span>
                            </div>
                            <p>Cho thuê tài xế lái xe ngắn hạn theo giờ, ngày, tuần và dài hạn theo tháng, quý, năm: Từ 300 ngàn đồng/2-giờ, 10 triệu đồng/tháng...</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="slidebar">
                    <div class="slidebar_post">
                        <img src="./assets/img/thumb7.png" alt="">
                        <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>