<main>
    <div class="container tour tour--list pr">
        <h2 class="title">Tuyến cố định</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <article class="tour_post">
                    <a href="" class="tour_thumb">
                        <img src="./assets/img/thumb2.png" alt="">
                        <span>Hà Nội - Hải Phòng</span>
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="tour_post">
                    <a href="" class="tour_thumb">
                        <img src="./assets/img/thumb3.png" alt="">
                        <span>Hà Nội - Vĩnh Phúc</span>
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="tour_post">
                    <a href="" class="tour_thumb">
                        <img src="./assets/img/thumb1.png" alt="">
                        <span>Hà Nội - Trang An</span>
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="tour_post">
                    <a href="" class="tour_thumb">
                        <img src="./assets/img/thumb2.png" alt="">
                        <span>Hà Nội - Hải Phòng</span>
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="tour_post">
                    <a href="" class="tour_thumb">
                        <img src="./assets/img/thumb3.png" alt="">
                        <span>Hà Nội - Vĩnh Phúc</span>
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="tour_post">
                    <a href="" class="tour_thumb">
                        <img src="./assets/img/thumb1.png" alt="">
                        <span>Hà Nội - Trang An</span>
                    </a>
                </article>
            </div>
        </div>
    </div>
</main>