<main>
    <div class="container tourdetail pr">
        <h2 class="title flex-lc">Tuyến cố định Hà Nội - Hải Phòng</h2>
        <ul class="nav nav-typecar">
            <li class="active"><a data-toggle="tab" href="#car4"> 4 chỗ</a></li>
            <li><a data-toggle="tab" href="#car7">7 chỗ</a></li>
            <li><a data-toggle="tab" href="#car16">16 chỗ</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="car4">
                <div class="listcar flex">
                    <div class="card">
                        <div class="card__content">
                            <div class="card__img"><img src="./assets/img/thumb6.png" alt=""></div>
                            <h3 class="card__title">Ha Noi di Nghe An 1 chiều</h3>
                            <span class="card__price">Gía 1.500k giảm còn 300K</span>
                            <p class="card__des">Đi một chiều cao tốc, giá trọn gói đã bao gồm phí cao tốc </p>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__content">
                            <div class="card__img"><img src="./assets/img/thumb6.png" alt=""></div>
                            <h3 class="card__title">Ha Noi di Nghe An 1 chiều</h3>
                            <span class="card__price">Gía 1.500k giảm còn 300K</span>
                            <p class="card__des">Đi một chiều cao tốc, giá trọn gói đã bao gồm phí cao tốc </p>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__content">
                            <div class="card__img"><img src="./assets/img/thumb6.png" alt=""></div>
                            <h3 class="card__title">Ha Noi di Nghe An 1 chiều</h3>
                            <span class="card__price">Gía 1.500k giảm còn 300K</span>
                            <p class="card__des">Đi một chiều cao tốc, giá trọn gói đã bao gồm phí cao tốc </p>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__content">
                            <div class="card__img"><img src="./assets/img/thumb6.png" alt=""></div>
                            <h3 class="card__title">Ha Noi di Nghe An 1 chiều</h3>
                            <span class="card__price">Gía 1.500k giảm còn 300K</span>
                            <p class="card__des">Đi một chiều cao tốc, giá trọn gói đã bao gồm phí cao tốc </p>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__content">
                            <div class="card__img"><img src="./assets/img/thumb6.png" alt=""></div>
                            <h3 class="card__title">Ha Noi di Nghe An 1 chiều</h3>
                            <span class="card__price">Gía 1.500k giảm còn 300K</span>
                            <p class="card__des">Đi một chiều cao tốc, giá trọn gói đã bao gồm phí cao tốc </p>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__content">
                            <div class="card__img"><img src="./assets/img/thumb6.png" alt=""></div>
                            <h3 class="card__title">Ha Noi di Nghe An 1 chiều</h3>
                            <span class="card__price">Gía 1.500k giảm còn 300K</span>
                            <p class="card__des">Đi một chiều cao tốc, giá trọn gói đã bao gồm phí cao tốc </p>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="car7">
                <div class="listcar flex">
                    <div class="card">
                        <div class="card__content">
                            <div class="card__img"><img src="./assets/img/thumb6.png" alt=""></div>
                            <h3 class="card__title">Ha Noi di Nghe An 1 chiều</h3>
                            <span class="card__price">Gía 1.500k giảm còn 300K</span>
                            <p class="card__des">Đi một chiều cao tốc, giá trọn gói đã bao gồm phí cao tốc </p>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__content">
                            <div class="card__img"><img src="./assets/img/thumb6.png" alt=""></div>
                            <h3 class="card__title">Ha Noi di Nghe An 1 chiều</h3>
                            <span class="card__price">Gía 1.500k giảm còn 300K</span>
                            <p class="card__des">Đi một chiều cao tốc, giá trọn gói đã bao gồm phí cao tốc </p>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="car16">
                <div class="listcar flex">
                    <div class="card">
                        <div class="card__content">
                            <div class="card__img"><img src="./assets/img/thumb6.png" alt=""></div>
                            <h3 class="card__title">Ha Noi di Nghe An 1 chiều</h3>
                            <span class="card__price">Gía 1.500k giảm còn 300K</span>
                            <p class="card__des">Đi một chiều cao tốc, giá trọn gói đã bao gồm phí cao tốc </p>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>