<main>
    <div class="payment_success">
        <img src="./assets/img/success.png" alt="">
        <h5>Thanh toán thành công!</h5>
        <p>Giao dịch thành công, Gocheap đã ghi nhận <br> thông tin thanh toán của bạn! </p>
        <a href="" class="btn_continue flex-center">Tiếp tục</a>
    </div>
</main>