<main>
    <ul class="progress_bar flex">
        <li class="active">
            <span class="number">1</span>
            <h5>Đặt xe taxi</h5>
        </li>
        <li class="active">
            <span class="number">2</span>
            <h5>Điền Thông Tin Cá Nhân</h5>
        </li>
        <li>
            <span class="number">3</span>
            <h5>Thanh toán</h5>
        </li>
        <li>
            <span class="number">4</span>
            <h5>Hoàn tất</h5>
        </li>
    </ul>
    <div class="bookinfo pr">
        <h2 class="title">Thông tin ĐẶT chuyến </h2>
        <div class="bookinfo__wrapper">
            <div class="bookinfo__detail flex pr">
                <div class="vehicle">
                    <div class="vehicle__img"><img src="./assets/img/car1.png" alt=""></div>
                    <span class="vehicle__price flex-center">Phí: 300k</span>
                    <span class="vehicle__num">4 chỗ</span>
                </div>
                <div class="info">
                    <h4>Mã chuyến đi: AAVBBB</h4>
                    <div class="route flex">
                        <div class="pickup flex">
                            <i class="icon icon-pickup"></i>
                            <p>Ngõ Thịnh Hào 1, Hàng Bột, Hoàn Kiếm, Hà Nội</p>
                            <time><i class="icon icon-time"></i> 26/09, 2h30' </time>
                        </div>
                        <div class="route_info pr">
                            <span>1 chiều</span>
                            <span>100km</span>
                        </div>
                        <div class="destination flex-lc">
                            <i class="icon icon-destination"></i>
                            <p>Sân bay quốc tế Nội Bài</p>
                            <time><i class="icon icon-time"></i> 26/09, 2h30' </time>
                        </div>
                    </div>
                    <a href="" title="View Map" class="btn_viewmap">View Map</a>
                </div>
            </div>
        </div>
    </div>
    <div class="infouser">
        <h2 class="title">thông tin cá nhân Người đặt chuyến</h2>
        <div class="infouser__form">
            <form action="" method="">
                <div class="form-group radio flex">
                    <label class="chk">
                        <input type="radio" name="sex" checked>
                        <span class="checked"></span>
                        Anh
                    </label>
                    <label class="chk">
                        <input type="radio" name="sex">
                        <span class="checked"></span>
                        Chị
                    </label>
                    <div class="note pr"><sup>*</sup>Thông tin bắt buộc, lái xe của Gocheap sẽ gọi tới khi bắt đầu chuyến đi</div>
                </div>
                <div class="form-group">
                    <label>Họ và tên <sup>*</sup></label>
                    <input type="text" name="name" required>
                </div>
                <div class="form-group">
                    <label>Số điện thoại <sup>*</sup></label>
                    <input type="number" name="phone" required>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email">
                </div>
                <div class="form-group checkbox">
                    <label class="chk">
                        <input type="checkbox" id="check_book_other" name="">
                        <span class="checked"></span>
                        <span class="txt">Đặt hộ người khác</span>
                    </label>
                </div>
                <div class="bookother">
                    <div class="form-group">
                        <label>Họ và tên</label>
                        <input type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input type="number" name="phone">
                    </div>
                </div>
                <div class="form-group checkbox">
                    <label class="chk">
                        <input type="checkbox" id="check_bill" name="">
                        <span class="checked"></span>
                        <span class="txt">Yêu cầu hóa đơn ( cộng thêm 10% giá dịch vụ, tính vào giá sau khi kết thúc chuyến)</span>
                    </label>
                </div>
                <div class="billexport">
                    <div class="form-group">
                        <label>Tên công ty <sup>*</sup></label>
                        <input type="text" name="name_company" required>
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ công ty <sup>*</sup></label>
                        <input type="text" name="address_company" required>
                    </div>
                    <div class="form-group">
                        <label>Mã số thuế <sup>*</sup></label>
                        <input type="text" name="tax" required>
                    </div>
                    <div class="form-group">
                        <label>Xuất hóa đơn VAT qua điện tử <sup>*</sup></label>
                        <input type="text" name="vat" required>
                    </div>
                </div>
            </form>
            <button type="submit" class="btn_submit flex-center">Tiếp tục</button>
        </div>
    </div>
</main>