<main>
    <ul class="progress_bar flex">
        <li class="active">
            <span class="number">1</span>
            <h5>Đặt xe taxi</h5>
        </li>
        <li class="active">
            <span class="number">2</span>
            <h5>Điền Thông Tin Cá Nhân</h5>
        </li>
        <li class="active">
            <span class="number">3</span>
            <h5>Thanh toán</h5>
        </li>
        <li>
            <span class="number">4</span>
            <h5>Hoàn tất</h5>
        </li>
    </ul>
    <div class="bookinfo pr">
        <h2 class="title">Thông tin ĐẶT chuyến </h2>
        <div class="bookinfo__wrapper">
            <div class="bookinfo__detail flex pr">
                <div class="vehicle">
                    <div class="vehicle__img"><img src="./assets/img/car1.png" alt=""></div>
                    <span class="vehicle__price flex-center">Phí: 300k</span>
                    <span class="vehicle__num">4 chỗ</span>
                </div>
                <div class="info">
                    <h4>Mã chuyến đi: AAVBBB</h4>
                    <div class="route flex">
                        <div class="pickup flex">
                            <i class="icon icon-pickup"></i>
                            <p>Ngõ Thịnh Hào 1, Hàng Bột, Hoàn Kiếm, Hà Nội</p>
                            <time><i class="icon icon-time"></i> 26/09, 2h30' </time>
                        </div>
                        <div class="route_info pr">
                            <span>1 chiều</span>
                            <span>100km</span>
                        </div>
                        <div class="destination flex-lc">
                            <i class="icon icon-destination"></i>
                            <p>Sân bay quốc tế Nội Bài</p>
                            <time><i class="icon icon-time"></i> 26/09, 2h30' </time>
                        </div>
                    </div>
                    <div class="info_user flex pr">
                        <div class="flex-lc"><i class="icon icon-user"></i> <span>Anh Nguyễn Tuấn Minh</span></div>
                        <div class="flex-lc"><i class="icon icon-phone"></i> <span>0386171800</span></div>
                        <div class="flex-lc"><i class="icon icon-mail"></i> <span>ntminh0706@eupgroup.net</span></div>
                    </div>
                    <a href="" title="View Map" class="btn_viewmap">View Map</a>
                </div>
                <label class="checkbox flex-lc pr">
                    <input type="checkbox" checked readonly>
                    <span class="checked"></span>
                    Yêu cầu hóa đơn ( đã cộng vào phí hiển thị)
                </label>
            </div>
        </div>
    </div>
    <div class="infopay">
        <h2 class="title">thông tin thanh toán</h2>
        <div class="infopay_content">
            <form action="" method="">
                <label class="radio_checkbox flex-lc">
                    <input type="radio" name="payment">
                    <span class="checked"></span>
                    <span class="txt">Thanh toán tiền mặt cho lái xe sau khi kết thúc chuyến đi</span>
                </label>
                <label class="radio_checkbox flex-lc">
                    <input type="radio" name="payment">
                    <span class="checked"></span>
                    <span class="txt">Thanh toán trực tuyến (Internet Banking/ Visa, Master, JCB, VNPAY - QR)</span>
                </label>
            </form>
            <button type="submit" class="btn_submit">Tiếp tục</button>
        </div>
    </div>
</main>