<main>
    <div class="container">
        <ul class="progress_bar flex">
            <li class="active">
                <span class="number">1</span>
                <h5>Đặt xe taxi</h5>
            </li>
            <li>
                <span class="number">2</span>
                <h5>Điền Thông Tin Cá Nhân</h5>
            </li>
            <li>
                <span class="number">3</span>
                <h5>Thanh toán</h5>
            </li>
            <li>
                <span class="number">4</span>
                <h5>Hoàn tất</h5>
            </li>
        </ul>
        <div class="bookcar bookcar--detail pr">
            <h4>cHI TIẾT Thông tin ĐẶT chuyến</h4>
            <form action="" method="">
                <div class="form-group">
                    <div class="icon icon-location"></div>
                    <div class="icon icon-add"></div>
                    <div class="searchbox">
                        <input type="text" name="" value="Ngõ Thịnh Hào 1, Hàng Bột, Hoàn Kiếm, Hà Nội" placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="icon icon-plane"></div>
                    <div class="icon icon-arr"></div>
                    <div class="searchbox">
                        <input type="text" name="" value="Sân bay quốc tế Nội Bài" placeholder="" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <div class="icon icon-codeplane"></div>
                        <input type="text" name="" placeholder="Mã chuyến bay">
                    </div>
                    <div class="form-group">
                        <select name="">
                            <option value="">1 chiều</option>
                            <option value="">2 chiều</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="icon icon-arr"></div>
                        <input type='text' name="" value="26/09, 2h30' " placeholder="Thời gian đón" class="date" />
                    </div>
                </div>
                <div class="infomore flex">
                    <p><i class="icon icon-range"></i> Khoảng cách: <span>100k</span></p>
                    <p><i class="icon icon-time"></i>Thời gian dự kiến: <span>0h 45 phút</span></p>
                    <a href="javascript:;" title="View Map" class="btn_viewmap">View Map</a>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.76161490239!2d105.80363361533182!3d21.00219079405976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aca29d647f43%3A0x5738e2659426672!2zMjRUMSwgU-G7kSA4NSBWxakgVHLhu41uZyBQaOG7pW5nLCBUaGFuaCBYdcOibiBUcnVuZywgVGhhbmggWHXDom4sIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sfr!2s!4v1591350424579!5m2!1sfr!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <button type="button" class="change"></button>
            </form>
        </div>
        <div class="selectcar">
            <h2 class="title">lựa chọn loại xe cho chuyến đi</h2>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="car">
                        <div class="car__img"><img src="./assets/img/car1.png" alt=""></div>
                        <div class="car__info pr">
                            <h4 class="car__name">Xe đời mới HuynDai 5 chỗ </h4>
                            <div class="car__charge">Cước: <span>300k</span></div>
                            <div class="car__rate flex-lc"><i class="icon icon-rate"></i>4.8</div>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="car">
                        <div class="car__img"><img src="./assets/img/car2.png" alt=""></div>
                        <div class="car__info pr">
                            <h4 class="car__name">Xe đời mới HuynDai 5 chỗ </h4>
                            <div class="car__charge">Cước: <span>300k</span></div>
                            <div class="car__rate flex-lc"><i class="icon icon-rate"></i>4.8</div>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="car">
                        <div class="car__img"><img src="./assets/img/car3.png" alt=""></div>
                        <div class="car__info pr">
                            <h4 class="car__name">Xe đời mới HuynDai 5 chỗ </h4>
                            <div class="car__charge">Cước: <span>300k</span></div>
                            <div class="car__rate flex-lc"><i class="icon icon-rate"></i>4.8</div>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="car">
                        <div class="car__img"><img src="./assets/img/car1.png" alt=""></div>
                        <div class="car__info pr">
                            <h4 class="car__name">Xe đời mới HuynDai 5 chỗ </h4>
                            <div class="car__charge">Cước: <span>300k</span></div>
                            <div class="car__rate flex-lc"><i class="icon icon-rate"></i>4.8</div>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="car">
                        <div class="car__img"><img src="./assets/img/car2.png" alt=""></div>
                        <div class="car__info pr">
                            <h4 class="car__name">Xe đời mới HuynDai 5 chỗ </h4>
                            <div class="car__charge">Cước: <span>300k</span></div>
                            <div class="car__rate flex-lc"><i class="icon icon-rate"></i>4.8</div>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="car">
                        <div class="car__img"><img src="./assets/img/car3.png" alt=""></div>
                        <div class="car__info pr">
                            <h4 class="car__name">Xe đời mới HuynDai 5 chỗ </h4>
                            <div class="car__charge">Cước: <span>300k</span></div>
                            <div class="car__rate flex-lc"><i class="icon icon-rate"></i>4.8</div>
                            <a href="" title="Đặt xe" class="btn_book">Đặt xe</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="note">(*)  Giá trên đã bao gồm VAT và phí cầu đường, bến bãi. Giá trên không áp dụng cho các ngày Lễ, Tết. Vui lòng liên hệ Hotline 02473000600 để cập nhật.</div>
        </div>
    </div>
</main>