:root {
  --orange: #FFA602;
  --blue: #3B86FF;
}

@font-face {
  font-family: SegoeUI;
  src: url('#{$font-path}/SegoeUI.ttf');
}

@font-face {
  font-family: seguisb;
  src: url('#{$font-path}/seguisb.ttf');
}

@font-face {
  font-family: SegoeUIBold;
  src: url('#{$font-path}/SegoeUIBold.ttf');
}
body{
  background: #fff;
  font-family: SegoeUI, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4D4D4D;
  &.bg-gray{background: #F5F5F5;}
}
a:hover,a:focus{text-decoration: none;}
a{color: #4D4D4D;}
img{max-width: 100%;}
.pr{position: relative;}
//header
header{
  width: 100%; height: 58px;
  background: var(--orange);
  position: fixed; z-index: 91;
  &.scroll{box-shadow: 0 2px 4px rgba(#000,.18);}
}
.navbar{
  width: 1000px; height: 100%;
  display: flex; align-items: center;
  margin: 0 auto; padding: 0;
  border-radius: 0; border: none;
  .logo{width: 109px; margin-right: 27px;}
}
.navbar-collapse{
  padding: 0;
  .logo-collapse,.close,.notifi,.user_login{display: none;}
}
.language{
  .dropdown-menu{min-width: 2rem; left: -8px;}
  .dropdown-item{padding: .45rem .8rem;}
  .dropdown-toggle{
    display: flex; align-items: center; background: none; border: none; padding: 0;
    &::after{border-top: .3em solid #fff;}
  }
  button:focus{box-shadow: none;}
}
.form-search{
  display: flex; align-items: center;
  margin: 0 9px 0 auto;
  input{width: 0; padding: 0; height: 22px; border: none; background: #fff; border-radius: 4px; opacity: 0; transition: all .25s ease-out;}
  input::placeholder{font-size: 12px; color: #A1A1A1;}
  &.active{
    input{width: 140px; padding: 0 10px; opacity: 1;}
    .icon-search{display: none;}
  }
  .icon-search{
    width: 16px; height: 16px; display: block;
    background: url("#{$img-path}/icon-search.png") no-repeat 0 0/contain;
  }
}
.navbar-nav{
  margin: 0;
  >*+*{margin-left: 36px;}
  > li > a{display: block; padding: 0; color: #fff; line-height: inherit; transition: all .25s ease;}
  a:hover,a.active{/*font-family: SegoeUIBold, sans-serif;*/ text-shadow: 0 0 1px #fff, 0 0 1px #fff;}
}
.user{
  margin-left: 8px; padding-left: 18px; border-left: 1px solid #fff;
  .after_login{align-items: center;}
  .before_login a{color: #fff; text-transform: uppercase;}
  .notifi{
    width: 18px; height: 19px;
    display: block;
    margin-right: 9px;
    background: url("#{$img-path}/icon-ann.png") no-repeat 0 0;
  }
  .dropdown-toggle{
    align-items: center;
    &::after{
      width: 11px; height: 7px;
      display: block;
      border: none;
      background: url("#{$img-path}/small-down.png") no-repeat 0 0/contain;
    }
  }
  .dropdown-menu{min-width: 16rem;}
  .dropdown-item{padding: 0.5rem .6rem; font-size: 14px; color: #646464;}
  .avatar{width: 28px; height: 28px; object-fit: cover; border-radius: 50%;}
  span{margin-left: 5px; font-family: 'Source Sans Pro', sans-serif; font-size: 15px; color: #fff;}
  button:focus{box-shadow: none;}
}

//main
main{padding-top: 58px;}
.bookcar{
  width: 100%; height: 352px;
  padding-top: 25px;
  background: url("#{$img-path}/banner.jpg") no-repeat 0 0/cover;
  .title{display: block; margin-bottom: 15px; text-align: center; color: #fff; font: 20px SegoeUIBold, sans-serif;}
  &_detail{
    width: 696px;
    padding: 17px 40px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(#fff,.9);
  }
  .form-group{margin-bottom: 7px; position: relative;}
  .form-row{margin: 0; justify-content: space-between;}
  form{
    position: relative;
    .icon{display: block; position: absolute;}
    .icon-location{width: 16px; height: 21px; top: 7px; left: 10px; background: url("#{$img-path}/icon5.png") no-repeat 0 0/contain;}
    .icon-destination{width: 17px; height: 16px; top: 9px; left: 10px; background: url("#{$img-path}/icon7.png") no-repeat 0 0/contain;}
    .icon-add{width: 9px; height: 9px; top: 12.5px; right: 14px; background: url("#{$img-path}/icon8.png") no-repeat 0 0/contain;}
    .icon-arr{width: 9px; height: 6px; right: 14px; top: 14px; background: url("#{$img-path}/icon9.png") no-repeat 0 0/contain;}
    .icon-plane{width: 19px; height: 17px; left: 8px; top: 8px; background: url("#{$img-path}/icon11.png") no-repeat 0 0/contain;}
    input,select{height: 34px; border: 1px solid #EBEBEB; border-radius: 6px;}
    input{width: 100%; padding-left: 33px; }
    input::placeholder{color: #A1A1A1;}
    select{width: 254px; padding: 0 10px; color: #A1A1A1;}
    option{color: #A1A1A1;}
    select option{outline: none;}
    .date{width: 340px;}
    .change{
      width: 12px; height: 17px; background: url("#{$img-path}/icon10.png") no-repeat 0 0/contain;
      position: absolute; top: 18px; right: -22px;
    }
  }
}
.nav-service{
  margin-bottom: 15px;
  >*+*{margin-left: 28px;}
  > li > a{display: flex; align-items: center; padding: 0; font-size: 16px; color: #7B7B7B;}
  span{position: relative;}
  span::after{
    content: "";
    width: 0; height: 2px;
    background: #FFA602;
    position: absolute; bottom: -2px; left: 0;
    transition: width .25s linear;
  }
  .active a{
    color: #4D4D4D; text-shadow: 0 0 1px #4D4D4D;
    span::after{width: 36px;}
  }
  .icon{display: block; margin-right: 7px;}
  .icon-s1{width: 29px; height: 21px; background: url("#{$img-path}/icon4.png") no-repeat 0 0/contain;}
  .icon-s2{width: 31px; height: 12px; background: url("#{$img-path}/icon3.png") no-repeat 0 0/contain;}
  .icon-s3{width: 20px; height: 22px; background: url("#{$img-path}/icon2.png") no-repeat 0 0/contain;}
  .icon-s4{width: 20px; height: 20px; background: url("#{$img-path}/icon1.png") no-repeat 0 0/contain;}
}
.choose{
  .choose-content{text-align: center;}
  h4{max-width: 164px; margin: 0 auto 10px; font: 16px SegoeUIBold, sans-serif;}
  p{padding: 0 15px; color: #636262;}
  .icon{
    width: 91px; height: 93px;
    margin: 0 auto;
    display: flex; align-items: center; justify-content: center;
    background: url("#{$img-path}/oval.png") no-repeat 0 0/contain;
  }
  .icon-f1{width: 28px; height: 32px; background: url("#{$img-path}/protection.png") no-repeat 0 0/contain;}
  .icon-f2{width: 33px; height: 37px; background: url("#{$img-path}/quality.png") no-repeat 0 0/contain;}
  .icon-f3{ width: 31px; height: 31px; background: url("#{$img-path}/chauffer.png") no-repeat 0 0/contain;}
}
.promotion{
  .slick-dots{
    display: flex;
    position: absolute; right: 0; top: -40px;
    li{height: 10px;}
    >*+*{margin-left: 8px;}
    button{
      width: 10px; height: 10px; padding: 0; border-radius: 50%;
      background: rgba(#FFA602,.43); font-size: 0;
    }
    .slick-active button{background: #FFA602;}
  }
}
.tour{
  &_thumb{
    display: block;
    max-width: 313px; margin: 0 auto;
    padding-bottom: 65%; position: relative; box-shadow: 0 3px 6px rgba(#000,.16);
    border-radius: 5px; overflow: hidden;
    img{width: 100%; height: 100%; position: absolute; top: 0; left: 0; transition: transform 1s linear;}
    &:hover img{transform: scale(1.1);}
    span{position: absolute; bottom: 0; left: 0; padding: 15px 25px; color: #fff; font: 20px SegoeUIBold, sans-serif;}
  }
  &--list{
    .col-lg-4,.col-md-4{margin-bottom: 30px;}
  }
  .btn_viewmore{position: absolute; top: 8px; right: 15px;}
}
.intro{
  margin-top: 42px;
  padding: 28px 0 15px;
  background: #F6F6F6;
  h4{margin: 0 0 22px 95px; font: 20px seguisb, sans-serif; color: #434343; text-transform: uppercase;}
  p{margin-top: 0; text-indent: 1.3em; color: #636262;}
  &_img{width: 272px;}
  &_content{width: calc(100% - 272px); padding-left: 26px;}
}
.news{
  color: #636262;
  .post{box-shadow: 0 3px 6px rgba(#000,.16); border-radius: 0 0 20px 20px;}
  .col-lg-4,.col-md-4{padding: 0 9px;}
  &_thumb{
    display: block; padding-bottom: 60%; position: relative; overflow: hidden;
    img{width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover; transition: transform 1s linear;}
    &:hover img{transform: scale(1.1);}
  }
  .logo{
    img{width: 43px; height: 43px; margin-right: 16px; object-fit: cover; border-radius: 50%;}
    p{padding: 0;}
    span{display: block; color: #434343;}
    span:nth-child(1){font: 16px seguisb, sans-serif;}
    span:nth-child(2){color: rgba(#636262,.54);}
  }
  .md{padding: 0 12px; justify-content: space-between;}
  time{padding-top: 5px; color: #636262;}
  p{ padding: 0 12px 25px;}
}
.destination{
  margin: 20px auto;
  &_thumb{
    width: 125px; height: 95px; display: block; position: relative; overflow: hidden;
    img{width: 100%; height: 100%; object-fit: cover; transition: transform 1s linear;}
    &:hover img{transform: scale(1.1);}
  }
  .item{margin: 0 8px;}
  .slick-list{margin: 0 -8px; padding-bottom: 10px;}
  .post{padding: 15px; border-radius: 10px; box-shadow: 0 3px 6px rgba(#000,.16); background: #fff;}
  .detail{width: calc(100% - 125px); padding-left: 15px;}
  .view{margin-left: 50px;}
  h3{margin: 10px 0; font: 16px seguisb, sans-serif; }
  h3 a{color: #434343;}
  h3 a:hover{color: #000;}
  .icon{display: inline-block; margin-right: 3px; vertical-align: sub;}
  .icon-time{width: 17px; height: 17px; background: url("#{$img-path}/icon-time.png") no-repeat;}
  .icon-view{width: 24px; height: 15px; background: url("#{$img-path}/view.png") no-repeat;}
  .slick-arrow{width: 46px; height: 46px;}
  .slick-next{right: -23px;}
  .slick-prev{left: -23px;}
}
.tourdetail{
  .title{
    margin: 20px 0; text-align: left; text-transform: none;
    &::before{
      content: "";
      width: 24px; height: 24px; display: block;
      background: url("#{$img-path}/icon21.png") no-repeat;
    }
  }
}

//category
.progress_bar{
  width: 686px;
  margin: 20px auto 0;
  justify-content: space-between;
  position: relative;
  &::after{
    content: "";
    width: 98%; height: 3px;
    background: #3B86FF;
    position: absolute; top: 18px; z-index: -1;
  }
  li{width: 38px; position: relative;}
  .number{
    width: 38px; height: 38px;
    display: flex; align-items: center; justify-content: center;
    background: #fff;
    border: 3px solid #3B86FF; border-radius: 50%;
    color: #3B86FF; font: 700 13px 'Source Sans Pro', sans-serif;
  }
  h5{
    display: block;
    margin: 5px 0;
    color: #4D4F5C; font: 13px 'Source Sans Pro', sans-serif;
    white-space: nowrap;
    position: absolute; left: 50%; transform: translateX(-50%);
  }
  .active{
    .number{background: #3B86FF url("#{$img-path}/icon-tick.png") no-repeat center center; text-indent: -9999em;}
    h5{font-family: SegoeUIBold, sans-serif;}
  }
}
.bookcar--detail{
  width: 100%; height: auto;
  max-width: 832px;
  margin: 80px auto 0;
  padding: 22px 105px 30px;
  background: #F8F8F8;
  box-shadow: 0 0 6px rgba(#000,.16);
  border-radius: 13px;
  &::before,&::after{
    content: "";
    position: absolute;
    background: rgba(#FFA602,.5);
    border-radius: 50%; z-index: -1;
  }
  &::before{width: 69px; height: 69px; top: 8px; left: -85px;}
  &::after{width: 188px; height: 188px; right: -90px; bottom: -85px;}
  h4{display: block; margin-bottom: 20px; text-align: center; text-transform: uppercase; font: 20px seguisb, sans-serif;}
  .form-group{margin: 0 0 10px;}
  form{
    select{width: 154px;}
    .icon-codeplane{width: 13px; height: 15px; top: 10px; left: 11px; background: url("#{$img-path}/icon12.png") no-repeat 0 0/contain;}
    .date{width: 100%; min-width: 206px; padding-left: 10px;}
  }
  .infomore{
    margin-top: 8px;
    align-items: center;
    p{display: flex; align-items: center;}
    .icon{position: relative; margin-right: 5px;}
    .icon-range{width: 19px; height: 19px; background: url("#{$img-path}/icon13.png") no-repeat;}
    .icon-time{width: 20px; height: 20px; background: url("#{$img-path}/icon14.png") no-repeat;}
    p{margin-right: 28px; font-size: 12px; color: #6B6B6B;}
    p span{font: 16px seguisb, sans-serif;}
    .btn_viewmap{
      margin-left: auto; font: 13px seguisb, sans-serif; color: var(--blue);
      &:hover{text-decoration: underline;}
    }
  }
 .map{
   width: 100%;
   height: 0;
   box-shadow: 0 0 6px rgba(#000,.16);
   transition: all .3s linear;
   iframe{width: 100%; height: 100%;}
   &.show{height: 225px; margin-top: 20px;}
 }
}
.selectcar{
  .car{
    margin-bottom: 30px;
    background: #F7F7F7; border-radius: 13px;
    &__info{padding: 10px 0 0;}
    &__charge{
      font-size: 12px;
      color: #A1A1A1;
      position: absolute; top: 4px; right: 5px;
      span{font: 20px SegoeUIBold, sans-serif; color: #4D4D4D;}
    }
    &__img{
      width: 100%; height: 190px;
      display: flex; align-items: center; justify-content: center;
    }
    &__name{padding-right: 90px;}
    &__name,&__rate{margin-bottom: 2px; padding-left: 5px; font: 14px seguisb, sans-serif; color: #4D4F5C;}
    &__rate{color: #636262;}
    .icon-rate{width: 17px; height: 16px; display: block; margin-right: 3px; background: url("#{$img-path}/icon15.png") no-repeat;}
  }
  .btn_book{
    width: 100%; height: 27px;
    margin-top: 10px;
    display: block; text-align: center;
    background: #FFA602; border-radius: 4px;
    color: #fff; font: 15px/25px seguisb, sans-serif;
    transition: all .25s ease;
    &:hover{background: #dc9106;}
  }
  .note{color: #636262;}
}
.bookinfo{
  h2.title{margin: 55px 0 15px;}
  &__detail{
    max-width: 835px; margin: 0 auto; justify-content: center;
    &::after,&::before{
      content: "";
      background: #FFD280; border-radius: 50%;
      position: absolute;
    }
    &::after{width: 69px; height: 69px; top: 38px; left: -54px;}
    &::before{width: 188px; height: 188px; top: -95px; right: -148px;}
  }
  &__wrapper{background: #F8F8F8; padding: 20px;}
  .book_finish{
    margin-top: 55px;
    .title{margin: 0 0 30px; text-align: left; flex-basis: 100%;}
    .bookinfo__detail{
      &::after,&::before{display: none;}
    }
    .notifi{
      font-size: 20px; color: #0A1F44; align-items: flex-start;
      .icon-success{width: 36px; height: 37px; display: block; margin-right: 10px; background: url("#{$img-path}/icon20.png") no-repeat 0 0/contain;}
    }
  }
  .vehicle,.info{background: rgba(#fff,.94); border-radius: 12px; position: relative; z-index: 2;}
  .vehicle{
    width: 100%; min-height: 153px; max-width: 203px; margin-right: 7px;
    &__img{padding: 22px 20px 10px;}
    &__price{
      min-width: 85px; height: 32px; background: #FFA602; border-radius: 3px 3px 3px 16px; color: #fff; font: 15px seguisb, sans-serif;
      position: absolute; left: 0; bottom: 0;
    }
    &__num{color: #636262; font-size: 15px; position: absolute; bottom: 10px; right: 24px;}
    img{max-width: 95%; margin: 0 auto;}
  }
  .info{
    min-height: 153px; max-width: 624px;
    padding: 15px 20px 15px 40px;
    color: #636262;
    .destination{margin: 0; max-width: 195px;}
    .pickup{max-width: 220px;}
    h4{margin-bottom: 23px; font: 15px SegoeUIBold, sans-serif;}
  }
  .route{
    flex-wrap: nowrap; align-items: flex-start;
    &_info{
      width: 155px;
      margin-top: -22px;
      &::after{
        content: "";
        width: 88px; height: 14px;
        background: url("#{$img-path}/arr.png") no-repeat 0 0/contain;
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
      }
      span{display: block; padding: 8px 0; text-align: center; color: #6B6B6B; font: 13px seguisb, sans-serif;}
    }
    .icon{display: block; margin-right: 10px;}
    .icon-pickup{width: 15px; height: 20px; background: url("#{$img-path}/icon16.png") no-repeat;}
    .icon-destination{width: 19px; height: 17px; background: url("#{$img-path}/icon11.png") no-repeat;}
    .icon-time{width: 20px; height: 20px; background: url("#{$img-path}/icon14.png") no-repeat 0 0/contain;}
    p{flex: 1; font: 15px seguisb, sans-serif;}
    time{display: flex; align-items: center; flex-basis: 100%; margin-top: 8px; font-size: 15px;}
  }
  .info_user{
    margin-top: 16px; padding: 16px 0 5px;
    justify-content: space-between;
    span{font: 13px seguisb, sans-serif; color: #4D4F5C;}
    .icon{margin-right: 5px;}
    .icon-user{width: 17px; height: 13px; background: url("#{$img-path}/icon17.png") no-repeat;}
    .icon-phone{width: 13px; height: 13px; background: url("#{$img-path}/icon18.png") no-repeat;}
    .icon-mail{width: 13px; height: 11px; margin-top: 3px; background: url("#{$img-path}/icon19.png") no-repeat;}
    &::before{
      content: "";
      width: 170px; height: 1px; border-top: 1px dashed #BCBCBC;
      position: absolute; left: 0; top: 0;
    }
  }
  .checkbox{
    font-size: 14px; font-weight: normal;
    flex-basis: 100%; margin: 18px 0 0;
    input{position: absolute; left: 0; opacity: 0;}
    .checked{width: 17px; height: 17px; display: block; margin-right: 6px; border: 1px solid #8F8F8F; border-radius: 4px;}
    input:checked + .checked{background: #FFA602 url("#{$img-path}/icon-tick.png") no-repeat center center; border: none;}
  }
  .btn_viewmap{
    color: #3B86FF; font: 13px seguisb, sans-serif;
    position: absolute; top: 20px; right: 15px;
    &:hover{text-decoration: underline;}
  }
}
.infouser{
  h2.title{margin: 25px 0 15px;}
  &__form{
    width: calc(100% - 30px); max-width: 835px;
    margin: 0 auto;
  }
  form{
    padding: 22px 64px 30px;
    background: #F8F8F8;
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(#000,.16);
  }
  .bookother,.billexport{display: none;}
  label{position: relative;}
  .radio,.checkbox{
    label{padding-left: 0; display: flex; align-items: center;}
    input{opacity: 0; position: absolute; left: 0; top: 0;}
    input:checked + .checked{border: none; background: #FFA602;}
    .checked{display: block; margin-right: 7px;}
  }
  .radio{
    margin: 0 0 15px 85px;
    label{margin-right: 22px;}
    .checked{width: 14px; height: 14px;  border: 1px solid #707070; border-radius: 50%;}
  }
  .checkbox{
    margin-left: 135px;
    input:checked + .checked{border: none; background: #FFA602 url("#{$img-path}/icon-tick.png") no-repeat center center;}
    .checked{width: 17px; height: 17px; border: 1px solid #8F8F8F; border-radius: 4px;}
  }
  label:not(.chk){
    width: 130px; padding-right: 20px;
    margin-bottom: 0; font: 15px seguisb, sans-serif; color: #4A4A4A;
    text-align: right;
    sup{right: 10px; top: 5px;}
  }
  .note{
    margin-left: 45px;
    sup{top: 13px; left: -8px; font-family: seguisb, sans-serif;}
  }
  .form-group{display: flex; align-items: center; margin-bottom: 19px; text-align: center;}
  input{
    width: 570px;
    height: 34px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
  }
  sup{color: #FF0000; font-size: 20px; position: absolute;}
  .btn_submit{width: 150px; margin-top: 30px;}
}
.infopay{
  &_content{
    width: calc(100% - 30px); max-width: 835px;
    margin: 0 auto; text-align: right;
  }
  form{background: #F8F8F8; box-shadow: 0 0 3px rgba(#000,.16); padding: 20px 40px 5px; border-radius: 12px;}
  .radio_checkbox{
    margin-bottom: 14px;
    font-weight: normal;
    position: relative;
    input{position: absolute; top: 0; left: 0; opacity: 0;}
    .checked{width: 17px; height: 17px; display: block; margin-right: 7px; background: #fff; border-radius: 4px; border: 1px solid #8F8F8F;}
    input:checked + .checked{border: none; background: #FFA602 url("#{$img-path}/icon-tick.png") no-repeat center center;}
  }
  .btn_submit{margin-top: 15px;}
}
.moreinfo{
  width: calc(100% - 30px);
  max-width: 835px;
  margin: 0 auto;
  .title{margin: 10px 0 18px; text-align: left;}
  &_content{
    width: 100%;
    border-radius: 12px;
    padding: 20px 15px;
    background: #F8F8F8;
    box-shadow: 0 0 3px rgba(#000,.16);
  }
}
.box-btn{
  margin-top: 25px;
  justify-content: flex-end;
  >*+*{margin-left: 26px;}
  a{width: 235px; height: 44px; border: 1px solid #ccc; border-radius: 9999px; font-size: 17px; color: #4D4F5C;}
  a:hover{background: #FFA602; border: none; color: #fff;}
}
.payment_success{
  padding: 70px 0;
  text-align: center;
  color: #777777;
  img{display: block; margin: 0 auto;}
  h5{margin: 25px 0 15px; font: 17px SegoeUIBold, sans-serif;}
  p{font-size: 15px; line-height: 1.7;}
  .btn_continue{width: 150px; margin: 20px auto 0;}
}
.contact{
  .title{margin: 26px 0 16px; text-align: left;}
  &_map{
    width: 100%; height: 240px;
    box-shadow: 0 0 6px rgba(#000,.16);
    iframe{width: 100%; height: 100%;}
  }
  form{
    padding: 50px 24px 30px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(#000,.16);
    text-align: right;
  }
  .form-group{margin-bottom: 12px;}
  label{display: block; padding-left: 10px; margin-bottom: 8px; font-weight: normal; text-align: left;}
  input,textarea{
    width: 100%; border: 1px solid rgba(#707070,.26);
    &:focus{outline: none;}
  }
  input{height: 40px; padding: 0 10px; border-radius: 9999px;}
  textarea{height: 110px; padding: 10px; border-radius: 22px;}
  sup{color: #FC0404; font-size: 16px; vertical-align: bottom;}
  .btn_submit{width: 88px; margin-top: 0; border-radius: 9999px;}
}
.nav-typecar{
  margin-bottom: 8px;
  >*+*{margin-left: 20px;}
  > li > a{
    width: 120px; height: 36px;
    display: block; padding: 0;
    background: #F9F9F9;
    border: 1px solid #707070;
    border-radius: 9999px;
    text-align: center; line-height: 36px;
  }
  .active a,> li > a:hover{background: #FFA602 !important; color: #fff; border: none;}
}
.listcar{
  margin: 0 -12px;
  .card{
    width: 25%; padding: 12px;
    &__content{box-shadow: 0 3px 6px rgba(#000,.16);}
    &__img{padding-bottom: 68%; position: relative; overflow: hidden;}
    &__title,&__price{padding: 0 13px;}
    &__title{margin: 12px 0 8px; font: 16px SegoeUIBold, sans-serif;}
    &__price{display: block; color: #FFA602; font: 14px SegoeUIBold, sans-serif;}
    &__des{margin: 8px 13px 0; padding-top: 8px; border-top: 1px solid rgba(#707070,.39); font-size: 12px ; color: #777676;}
    img{width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover;}
    .btn_book{margin-top: 12px;}
  }
}
.newshighlight,.newsother,.related_post{
  time{padding-left: 24px; background: url("#{$img-path}/icon-time.png") no-repeat left center;}
  .view{padding-left: 27px; background: url("#{$img-path}/view.png") no-repeat left center;}
}
.newshighlight{
  .title{margin: 24px 0; text-align: left;}
  .slick-list{margin: 0 -9px;}
  .post{
    padding: 0 8px;
    &__bt{
      margin: 10px 6px;
      padding-top: 12px;
      border-top: 1px solid rgba(#707070,.39);
      color: #636262;
    }
    &__thumb{
      display: block; position: relative; padding-bottom: 62%;
      img{width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover;}
    }
    &_detail{border-radius: 4px; background: #fff; overflow: hidden;}
    &__title,&__des{padding: 0 6px; line-height: 1.45;}
    &__title{
      margin: 20px 0 10px; font: 16px SegoeUIBold, sans-serif;
      a{display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; transition: all .3s ease;}
      a:hover{color: var(--orange);}
    }
    &__des{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .view{margin-left: 35px;}
    .readmore{display: block; margin-top: 10px; padding-right: 6px; text-align: right; font: 12px SegoeUIBold, sans-serif; color: #FFA602;}
  }
  .slick-arrow{
    width: 38px; height: 38px; top: 42%; background: #fff url("#{$img-path}/icon22.png") no-repeat center center;
    &:hover{background: #f9f9f9 url("#{$img-path}/icon22.png") no-repeat center center;}
  }
  .slick-next{right: 0;}
  .slick-prev{left: 0;}
}
.newsother,.related_post{
  .title{margin: 22px 0; text-align: left; font: 20px SegoeUIBold, sans-serif; text-transform: none;}
  .post{
    margin-bottom: 10px;
    align-items: flex-start;
    padding: 14px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(#000,.16);
    border-radius: 10px;
    p{padding-top: 10px;}
    p::before{
      content: "";
      width: 220px; height: 1px;
      display: block; margin-bottom: 10px;
      background: rgba(#707070,.39);
    }
    &__thumb{
      width: 163px; border-radius: 9px; box-shadow: 0 3px 6px rgba(#000,.16); overflow: hidden;
    }
    &__content{width: calc(100% - 163px); margin-top: 0; padding-left: 20px;}
  }
  h3{margin-bottom: 7px; font: 16px SegoeUIBold, sans-serif;}
  h3 a{transition: all .3s ease;}
  h3 a:hover{color: var(--orange);}
  .view{margin-left: 40px;}
  a:hover{color: #FFA602;}
}
.related_post{
  .title{font: 20px seguisb, sans-serif; text-align: center; text-transform: uppercase;}
}
.slidebar{
  margin: 74px 0 0 -12px;
  &_post{margin: 0 auto 30px; max-width: 240px;}
  .btn_book{margin-top: 10px;}
}
.pagination{
  display: flex; justify-content: flex-end;
  > .active > a,> .active > a:hover{border: 1px solid #FFA602; background: #FFA602; color: #fff;}
  > li{margin: 0 4px;}
  > li > a,> li > span{padding: 6px 11px; border: 1px solid #E8E9EC; border-radius: 4px; font-size: 12px; color: rgba(#4D4F5C,.5);}
}
.pagedetail{
  .share{
    padding: 25px 0 0;
    margin: 25px;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid rgba(#707070,.39);
    i{color: #fff; font-size: 11px;}
    span{margin-right: 10px;}
    a{
      width: 25px; height: 25px;
      display: flex; align-items: center; justify-content: center;
      margin-left: 5px; border-radius: 50%; background: #707070;
    }
  }
  .btn_back{
    margin: 23px 0;
    font: 20px seguisb, sans-serif;
    &::before{
      content: "";
      width: 24px; height: 24px; display: block;
      background: url("#{$img-path}/icon21.png") no-repeat;
    }
  }
  .postdetail{
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    article{padding: 0 25px; line-height: 19px;}
  }
  .post_title{display: block; margin: 20px 0; text-align: center; font: 20px seguisb, sans-serif; text-transform: uppercase;}
}
.modal-cancel{
  .close{
    width: 44px; height: 44px;
    border: 2px solid #fff;
    background: url("#{$img-path}/icon-close.png") no-repeat center center;
    text-indent: -9999em;
    border-radius: 50%; opacity: 1;
    position: absolute; top: -40px; right: -50px;
  }
  .modal-dialog{margin: 60px auto;}
  .modal-content{
    width: 400px; max-width: 400px;
    height: 475px; max-height: 475px;
    margin: 0 auto;
    display: flex; flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 65px;
    background: url("#{$img-path}/oop.png") no-repeat 0 0/contain;
    border: none;
    text-align: center;
    box-shadow: 0 3px 6px rgba(#000,.26);
  }
  h5{margin-bottom: 5px; font: 30px SegoeUIBold,sans-serif;}
  p{margin-bottom: 30px; font-size: 20px;}
  .box-btn{
    margin-top: 0;
    justify-content: center;
    a,button{
      width: 162px; height: 41px;
      margin: 0 8px;
      border: 1px solid #707070;
      border-radius: 9999px;
      font-size: 20px;
      &:hover{background: #FFA602; border: none; color: #fff;}
    }
  }
}
.nav-post{
  margin-top: 30px;
  justify-content: space-between;
  a{width: 130px; height: 40px; background: #E9E9E9; border-radius: 9999px;}
  a:hover{background: #CBCBCB;}
  .prev_post::before,.next_post::after{
    content: "";
    width: 20px; height: 20px;
    display: block;
    background: url("#{$img-path}/icon22.png") no-repeat;
  }
  .prev_post::before{margin-right: 10px; transform: rotate(180deg);}
  .next_post::after{margin-left: 10px;}
}
//txt more
.morecontent span {
  display: none;
}


  //footer
footer{
  background: #F9F9F9;
  .row{padding: 0 15px; justify-content: space-between;}
  .info{
    width: 100%; margin-top: 20px; padding: 30px 0; background: url("#{$img-path}/path.png") no-repeat 0 0/100% 100%; color: #fff;
    h4{display: block; margin-bottom: 15px; text-align: center; font: 16px SegoeUIBold, sans-serif; text-transform: uppercase;}
    span,a{flex: 1;}
    a:hover{color: #ececec;}
  }
  .icon{display: block; margin-right: 9px;}
  .icon-address{width: 17px; height: 22px; background: url("#{$img-path}/location.png") no-repeat;}
  .icon-link{width: 17px; height: 17px; background: url("#{$img-path}/link.png") no-repeat;}
  .icon-phone{width: 16px; height: 16px; background: url("#{$img-path}/telephone.png") no-repeat;}
  .icon-mail{width: 17px; height: 13px; background: url("#{$img-path}/envelope.png") no-repeat;}
  a{color: #fff; flex: 1;}

  .address,.phone{margin-bottom: 5px;}
}
.menuf{
  margin-top: 42px;
  padding-top: 25px;
  justify-content: space-between;
  .item{padding: 10px 0;}
  li{padding: 2px 0; list-style: none;}
  a{font-size: 16px; color: #636262;}
  a:hover{color: #000;}
  h4{margin-bottom: 5px; font: 22px seguisb, sans-serif; text-transform: uppercase; color: #434343;}
  h5{margin: 10px 0 5px; font-size: 16px; color: #636262;}
}
.social{
  width: 130px;
  >*+*{margin-left: 14px;}
  a{display: block; width: 20px; height: 20px; text-indent: -9999em;}
  .facebook{background: url("#{$img-path}/facebook.png") no-repeat 0 0/contain;}
  .twitter{width: 21px; background: url("#{$img-path}/twitter.png") no-repeat 0 0/contain;}
  .youtube{width: 26px; height: 16px; background: url("#{$img-path}/youtube.png") no-repeat 0 0/contain;}
  .instagram{background: url("#{$img-path}/instagram.png") no-repeat 0 0/contain;}
}
.download__link{
  width: 56px;
  align-items: center;
  >*+*{margin-left: 12px;}
  a{display: block; text-indent: -9999em;}
  .ios{width: 22px; height: 27px; background: url("#{$img-path}/ios.png") no-repeat;}
  .android{width: 23px; height: 25px; background: url("#{$img-path}/playstore.png") no-repeat;}
}

//uikit
.container{width: 1030px; max-width: 1030px;}
.container,.nav{
  &:after,&:before{display: none;}
}
.nav>li>a:focus, .nav>li>a:hover{background: none;}
.nav{display: flex; flex-wrap: wrap;}
h2.title{
  margin: 32px 0;
  font: 20px seguisb, sans-serif;
  color: #434343; text-align: center;
  text-transform: uppercase;
}
.btn,button{
  background: none;
  padding: 0;
  border: none;
  line-height: inherit;
  &:focus{outline: none;}
}
button{cursor: pointer;}
.btn_submit,.btn_continue{
  width: 138px; height: 34px;
  margin: 10px 0 0 auto;
  background: #FFA602;
  border-radius: 8px;
  font: 12px SegoeUIBold, sans-serif;
  color: #fff;
  transition: all .25s ease;
  cursor: pointer;
  &:hover{background: #e2960a;}
}
.btn_book{
  width: 100%; height: 30px;
  display: block;
  background: #FFA602; border-radius: 5px;
  font: 15px seguisb, sans-serif; color: #fff;
  text-align: center; line-height: 30px; transition: all .25s linear;
  &:hover{background: #dc9106; color: #fff;}
}
input:focus,select:focus,option:focus,button:focus{outline: none;}
.slick-arrow{
  width: 60px; height: 60px; background: #fff url("#{$img-path}/icon-arr.png") no-repeat center center;
  border-radius: 50%; box-sizing: border-box;
  box-shadow: 0 3px 4px rgba(#000,.2);
  position: absolute; top: 50%; transform: translateY(-50%);
  font-size: 0; transition: all .25s ease; z-index: 2;
  &.slick-disabled{display: none !important;}
  &:hover{background: #f9f9f9 url("#{$img-path}/icon-arr.png") no-repeat center center;}
}
.slick-next{right: -30px;}
.slick-prev{transform: translateY(-50%) rotateY(180deg); left: -30px;}
.slick-slide{
  a:focus,&:focus{outline: none;}
}
.btn_viewmore{
  font: 17px SegoeUIBold, sans-serif;
  color: #2867B7;
  &:after{
    content: ">";
    margin-left: 3px;
    font-size: 12px;
    color: #76A9EA;
  }
}
.support{
  width: 69px; height: 69px;
  background: #007FFF; border-radius: 50%;
  box-shadow: 0 3px 6px rgba(#000,.27);
  position: fixed; right: calc((100vw - 1160px)/2); top: 55%; z-index: 90;
  .icon{
    width: 43px; height: 46px; display: block;
    background: url("#{$img-path}/headphones.png") no-repeat 0 0/contain;
    animation: swing 1s linear infinite;
  }
}
.morelink{color: #3B86FF; font: 13px seguisb, sans-serif;}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
  box-shadow: none;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu{
  min-width: 260px; font-family: SegoeUI, sans-serif;
  .btn-primary{background: #337ab7;}
  .btn{line-height: 1.42857143;}
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  outline-offset: 0;
}
.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second{font-size: 13px;}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{font-size: 13px;}
/*.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}*/
.form-row,.row{display: flex; flex-wrap: wrap;}
.row:before{display: none;}

@media (max-width: 1023px) {
  body{font-size: 13px;}
  header{
    height: 54px;
    .user{display: none;}
    .form-search{margin-left: auto; z-index: 2;}
    .logo{margin-right: 0; position: absolute; left: 50%; transform: translateX(-50%);}
  }
  .navbar{width: 100%; padding: 0 15px; justify-content: flex-start;}
  .navbar-collapse{
    display: flex; flex-direction: column;
    position: fixed; top: 0; left: -100%;
    width: 100%; height: 100%;
    padding: 18px 0 0;
    background: #FFA602;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.is-show{left: 0;}
    .user_login{
      display: block;
      text-align: center;
      img{width: 75px; height: 75px; margin: 0 auto; object-fit: cover; border-radius: 50%;}
      span{display: block; margin-top: 10px; font: 30px 'Source Sans Pro', sans-serif; color: #fff;}
    }
    .close{
      display: block; text-indent: -9999em;
      width: 13px; height: 13px;
      background: url("#{$img-path}/icon-close.png") no-repeat;
      opacity: 1;
      position: absolute; top: 18px; left: 20px;
    }
    .notifi{
      width: 18px; height: 19px; display: block;
      background: url("#{$img-path}/icon-ann.png") no-repeat 0 0/contain;
      position: absolute; top: 18px; right: 20px;
      span{
        width: 10px; height: 10px;
        display: flex; align-items: center; justify-content: center;
        background: #EF3A16; border-radius: 50%;
        color: #fff; font-size: 9px;
        position: absolute; right: -1px; top: -1px;
      }
    }
    .logo-collapse{
      width: 100%;
      display: block;
      padding: 30px 0;
      border-top: 1px solid rgba(#fff,.34);
      position: absolute; bottom: 0;
      img{width: 130px; display: block; margin: 0 auto;}
    }
  }
  .navbar-toggler{
    display: block;
    width: 16px;
    height: 14px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 10px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 16px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggler.active{
    span{width: 33px; transform: rotate(45deg);}
    span:after{width: 33px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    flex-direction: column;
    margin-top: 55px;
    padding-bottom: 15px;
    >*+*{margin: 22px 0 0;}
    a{text-align: center; font-size: 16px;}
  }
  .container{max-width: 100%;}
  .menuf{
    li{padding: 4px 0;}
    h4{font-size: 16px;}
    a{font-size: 13px;}
    .item{width: 50%; padding: 15px;}
  }

  main{padding-top: 54px;}
  .bookcar{
    height: auto; padding-bottom: 30px;
    .title{margin-bottom: 25px; font-size: 15px;}
    &_detail{width: 85%; max-width: 600px; padding: 18px 20px 30px; background: #fff;}
    .form-group{margin-bottom: 15px;}
    form{
      padding-right: 10px;
      input,select{border: none; border-bottom: 1px solid #D8D8D8; border-radius: 0;}
      input{padding-left: 25px;}
      .date{padding-left: 5px;}
      .icon-destination,.icon-location,.icon-plane{left: 0;}
      .icon-add,.icon-arr{right: 5px;}
      select,.date{width: 100%;}
      .change{right: -10px; top: 30px;}
      .form-row{
        .form-group:nth-child(1){width: 40%;}
        .form-group:nth-child(2){width: 55%;}
      }
      .btn_submit{margin-top: 15px;}
    }
  }
  .nav-service{
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    >*+*{margin-left: 0;}
    a{font-size: 15px;}
    span{display: none;}
    span::after{height: 3px;}
    .active span{display: block;}
  }
  .choose{
    .icon{
      margin-bottom: 10px;
      width: 71px; height: 73px;
    }
    .icon-f1{width: 22px; height: 25px;}
    .icon-f2{width: 25px; height: 28px;}
    .icon-f3{width: 24px; height: 24px;}
    h4{font-size: 15px; max-width: 100%;}
    p{margin-bottom: 10px; font-size: 13px;}
  }
  .promotion{
    .slick-slide img{min-height: 90px; object-fit: cover;}
    .slick-dots{
      top: -30px;
      button{width: 8px; height: 8px;}
    }
  }
  .tour{
    .btn_viewmore{position: relative; margin-left: auto; float: right;}
    &_thumb{
      max-height: 195px; padding-bottom: 0; margin-bottom: 25px;
      img{position: relative;}
    }
    .col-lg-4,.col-md-4{padding: 0 8px; margin: 0 auto;}
    .row{margin: 0 -8px;}
  }
  .intro{
    margin-top: 85px;
    padding-top: 10px;
    h4{
      margin: 0; text-align: center; font-size: 16px;
      position: absolute; top: -38px;
      left: 50%;
      transform: translateX(-50%);
    }
    &_img,&_content{width: 100%;}
    &_img{
      img{width: 190px; display: block; margin: 0 auto;}
    }
    &_content{padding-left: 0;}
  }
  .news{
    .col-lg-4,.col-md-4{max-width: 325px; margin: 0 auto 25px;}
  }
  .destination{
    h3{font-size: 15px; margin: 0 0 5px;}
    .post{padding: 10px;}
    .view{margin-left: 15px;}
    .slick-arrow{width: 30px; height: 30px;}
    .slick-next{right: -15px;}
    .slick-prev{left: -15px;}
  }
  footer{
    .info{padding: 55px 0 10px; font-size: 13px;}
    .info h4{font-size: 15px;}
    .col-right{margin-top: 10px;}
  }

  //uikit
  h2.title{margin: 20px 0; font-size: 15px;}
  .slick-arrow{
    width: 30px; height: 30px;
    background: #fff url("#{$img-path}/icon-arr1.png") no-repeat center center;
    &:hover{background: #f9f9f9 url("#{$img-path}/icon-arr1.png") no-repeat center center;}
  }
  .slick-next{right: -15px;}
  .slick-prev{left: -15px;}
  .btn_viewmore{font-size: 15px;}
  .support{
    width: 53px; height: 53px; right: 15px;
    .icon{width: 33px; height: 35px;}
  }
}

@media (max-width: 768px) {
  .progress_bar{
    width: 90%;
    h5{white-space: normal; width: 200%; text-align: center; font-size: 11px;}
    .number{border-width: 2px; width: 35px; height: 35px;}
  }
  .bookcar--detail{
    padding: 15px;
    h4{font-size: 15px;}
    form{
      .icon-location,.icon-plane{left: 6px;}
      .icon-add,.icon-arr{right: 6px;}
      .icon-codeplane{left: 7px;}
      input,select{padding: 0 28px; border: 1px solid #EBEBEB; border-radius: 6px;}
    }
    .infomore{
      p{margin: 5px 10px;}
    }
    .map{width: calc(100% + 10px);}
  }
  .selectcar{
    .car{
      &__charge{
        top: 8px;
        span{font-size: 15px;}
      }
    }
  }
  .bookinfo{
    .info{padding: 10px;}
    &__wrapper{padding: 20px 10px;}
    .book_finish{
      .title{margin: 15px 0 20px; text-align: center;}
      .notifi{align-items: center; font-size: 16px;}
    }
    .vehicle{margin: 0 0 10px;}
    .route{
      p,time{font-size: 12px;}
      &_info{
        margin-top: -10px;
        span{font-size: 12px; padding: 5px 0;}
      }
      &_info::after{width: 60px; height: 10px;}
    }
    .info_user > div{padding: 5px;}
    .btn_viewmap{top: 10px;}
    .checkbox{flex-wrap: nowrap;}
    .txt{text-align: left; flex: 1; font-size: 13px;}
  }
  .infouser{
    input{width: 100%;}
    .radio{margin-left: 0;}
    .note{margin: 10px 0 0; flex-basis: 100%; text-align: left;}
    .form-group{margin-bottom: 12px; flex-wrap: wrap;}
    label:not(.chk){width: auto; margin-bottom: 6px; text-align: left; font-size: 13px;}
    .checkbox{margin-left: 0;}
    .txt{flex: 1; text-align: left;}
    form{padding: 15px;}
  }
  .infopay{
    form{padding: 15px;}
    .radio_checkbox{flex-wrap: nowrap;}
    .txt{text-align: left; flex: 1;}
  }
  .listcar{
    .card{
      width: 50%; padding: 8px;
      &__title{margin: 10px 0 6px; font-size: 14px;}
      &__price{font-size: 13px;}
    }
  }
  .newsother,.related_post{
    .post{
      p{display: none;}
      h3{font-size: 14px;}
      .view,time{margin: 2px 10px;}
      &__content{padding-left: 12px;}
    }
  }
  .box-btn{
    >*+*{margin-left: 10px;}
    a{width: 140px; height: 36px; font-size: 14px;}
  }
  .nav-typecar{
    > li{margin: 4px;}
    > li > a{width: 100px; height: 32px; line-height: 32px;}
  }
  .contact{
    form{padding: 20px;}
    input{height: 36px;}
  }
  .modal-cancel{
    .close{width: 30px; height: 30px; right: 0; top: -35px;}
    .modal-content{width: 96%; height: auto; padding-top: 58%;}
    p{font-size: 16px;}
    .box-btn{
      a,button{width: 140px; height: 36px; margin: 0 5px; font-size: 16px;}
    }
  }

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .menuf{
    justify-content: flex-start;
    .item{width: 33.3%;}
  }
  .nav-service span{display: block;}
  .listcar{
    .card{width: 33.33%;}
  }
}

@media (orientation: landscape) and (max-width: 1200px) {
  .navbar-collapse{
    .logo-collapse{position: relative;}
  }
  .menuf{
    justify-content: flex-start;
    .item{width: 33.3%;}
  }
}

@media (max-width: 360px) {
  .bookcar{
    &_detail{width: 92%;}
  }
  .menuf .item{padding: 10px;}
  .newsother,.related_post{
    .post{
      &__thumb,&__content{
        width: 100%; padding: 0;
        img{width: 100%; object-fit: cover;}
      }
      &__thumb{margin-bottom: 15px;}
    }
  }
}

//
@media (min-width: 768px){
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -moz-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-9{width: 75%;}
  .col-md-3{width: 25%;}
  .col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px){
  .col-lg-6 {
    width: 50%;
  }
}


@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}